<h2>Exercício 1</h2>
<h4>Crie um programa que receba um valor numérico de um formulário (method=”post”) e exiba na tela se o valor é POSITIVO, NEGATIVO ou IGUAL A ZERO.</h4>

<form action="" method="post">
    <input type="number" name="inpNum" id="inpNum">
    <button type="button">Checar</button>
</form>