<div class="pagina container">
    <div class="cabecalho flex bordered">
        <h1>Cadastrar Usuário</h1>
        <a href="/admin/usuarios" class="botao">
            Voltar
        </a>
    </div>

    {{#if isPosted}}
        {{#if hasSuccess}}
           <div class="msg-sucesso">
                Cadastro realizado com Sucesso!!
            </div>
        {{else}}
            <div class="msg-erro">
                Cadastro não pode ser realizado!!
            </div>
        {{/if}}        
    {{/if}}

    <form action="" method="post">
        <input type="text" name="nomeCompleto" id="nomeCompleto" class="input-field" placeholder="* Nome completo" />
        <input type="text" name="usuario" id="usuario" class="input-field" placeholder="* Usuário" />
        <input type="password" name="senha" id="senha" class="input-field" placeholder="* Senha" />
        <input type="password" name="confirmacaoSenha" id="confirmacaoSenha" class="input-field" placeholder="* Confirmar senha" />
        <button type="submit" class="botao">
            Cadastrar
        </button>
    </form>
</div>