<h2>Exercício 12</h2>
<h4>Criar um algoritmo em JavaScript que calcule e imprima os 150 primeiros termos da Sequência de Fibonacci. Dica: Utilize uma função.</h4>

<div class="container p-3">
    <h3>
        {{#each nums}}
            {{this}}, 
        {{/each}}
    </h3>
</div>