<h2>Exercício 14</h2>
<h4>Ler um número inteiro entre 1 e 12 e escrever o mês correspondente. Caso o número seja fora desse intervalo, informar que não existe mês com este número</h4>

<div class="form-group">
    <form action="" method="post">
        <input type="text" name="valor" id="valor" class="form-control" placeholder="(valor vai aqui)" aria-describedby="helpId"><br>
        <button type="submit" class="btn btn-primary">Testar</button>
    </form>
</div>

<div class="container p-3">
    <h3>{{{resultado}}}</h3>
</div>