<h2>Exercício 15</h2>
<h4>Faça um script que receba uma data no formato “dd/mm/aaaa” e escreva a data por extenso. Exemplo: Para a entrada “22/04/1983” deve ser escrito “22 de abril de 1983”.</h4>

<div class="form-group">
    <form action="" method="post">
        <input type="date" name="data" id="data" class="form-control" placeholder="(data vai aqui)" aria-describedby="helpId"><br>
        <button type="submit" class="btn btn-primary">Formatar</button>
    </form>
</div>

<div class="container p-3">
    <h3>{{{resultado}}}</h3>
</div>