<h2>Exercício 3</h2>
<h4>Quais são as vantagens e desvantagens de uma linguagem de programação fortemente tipada (ex: java) e quais as vantagens e desvantagens de uma linguagem fracamente tipada (ex: JavaScript). Faça um comparativo entre ambas.</h4>
<br>
<h5>Com relação à detecção de erros, as linguagens fortemente tipadas se saem melhores do que as fracamente tipadas, pois a falta de especificação sobre o tipo de dado usado em uma operação pode fazer com que ela não seja executada propriamente. E com relação a facilidade da escrita do código, a escrita fracamente tipada ajuda, já que as variáveis podem ser criadas e terem a sua função definida na hora do uso, enquanto na linguagem forte tipada, todas as variáveis devem ser especificadas em sua criação.</h5>