<h2>Exercício 7</h2>
<h4>Crie um jogo de dados no Javascript utilizando a estrutura switch-case. A ideia é que ao recarregar a página seja mostrada uma face do dado de forma aleatória.</h4>

{{! 7. Crie um jogo de dados no Javascript utilizando a estrutura
switch-case. A ideia é que ao recarregar a página seja mostrada uma
face do dado de forma aleatória.
Math.floor (arredonda para um número inteiro)
Math.random (inicializa em zero)
// A variável sorteio receberá um número aleatório entre 1 e 6
var sorteio = Math.floor(Math.random() * 6 + 1);

Imagens das faces do dado, estão disponíveis no link:
http://ricardoramosdeoliveira.com.br/downloads/dado.zip}}

<img src="{{imgSrc}}" alt="{{num}}">