<h2>Exercício 8</h2>
<h4>Crie um formulário de cadastro simples com nome, email, cpf e
idade e exiba as informações preenchidas na tela quando o
formulário for submetido.</h4>

<div class="form-group">
    <form action="" method="post">
        <input type="text" name="nome" id="nome" class="form-control" placeholder="(nome vai aqui)" aria-describedby="helpId"><br>
        <input type="email" name="email" id="email" class="form-control" placeholder="(email vai aqui)" aria-describedby="helpId"><br>
        <input type="text" name="cpf" id="cpf" class="form-control" placeholder="(cpf vai aqui)" aria-describedby="helpId"><br>
        <input type="number" name="idade" id="idade" class="form-control" placeholder="(idade vai aqui)" aria-describedby="helpId"><br>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<div class="container p-3">
    <h3>{{{resultado}}}</h3>
</div>