<h2>Exercício 9</h2>
<h4>Entre com 10 números e armazene em um vetor. Ao final o programa deverá mostrar: quantos negativos foram digitados, quantos positivos foram digitados e quantos pares e ímpares.</h4>

<div class="form-group">
    <form action="" method="post">
        <input type="text" name="v1" id="v1" class="form-control" placeholder="(valor 1 vai aqui)" aria-describedby="helpId"><br>
        <input type="text" name="v2" id="v2" class="form-control" placeholder="(valor 2 vai aqui)" aria-describedby="helpId"><br>
        <input type="text" name="v3" id="v3" class="form-control" placeholder="(valor 3 vai aqui)" aria-describedby="helpId"><br>
        <input type="text" name="v4" id="v4" class="form-control" placeholder="(valor 4 vai aqui)" aria-describedby="helpId"><br>
        <input type="text" name="v5" id="v5" class="form-control" placeholder="(valor 5 vai aqui)" aria-describedby="helpId"><br>
        <input type="text" name="v6" id="v6" class="form-control" placeholder="(valor 6 vai aqui)" aria-describedby="helpId"><br>
        <input type="text" name="v7" id="v7" class="form-control" placeholder="(valor 7 vai aqui)" aria-describedby="helpId"><br>
        <input type="text" name="v8" id="v8" class="form-control" placeholder="(valor 8 vai aqui)" aria-describedby="helpId"><br>
        <input type="text" name="v9" id="v9" class="form-control" placeholder="(valor 9 vai aqui)" aria-describedby="helpId"><br>
        <input type="text" name="v10" id="v10" class="form-control" placeholder="(valor 10 vai aqui)" aria-describedby="helpId"><br>
        <button type="submit" class="btn btn-primary">Contar</button>
    </form>
</div>

<div class="container p-3">
    <h3>{{{resultado}}}</h3>
</div>