<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="../estilo.css">
    <title>Exercícios {{titulo}}</title>
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>