<h2>Lista de Exercícios - Handlebars</h2>
<div class="list-group">
    <a href="http://localhost:3000/ex1" class="list-group-item list-group-item-action">Exercício 1</a>
    <a href="http://localhost:3000/ex2" class="list-group-item list-group-item-action">Exercício 2</a>
    <a href="http://localhost:3000/ex3" class="list-group-item list-group-item-action">Exercício 3</a>
    <a href="http://localhost:3000/ex4" class="list-group-item list-group-item-action">Exercício 4</a>
    <a href="http://localhost:3000/ex5" class="list-group-item list-group-item-action">Exercício 5</a>
    <a href="http://localhost:3000/ex6" class="list-group-item list-group-item-action">Exercício 6</a>
    <a href="http://localhost:3000/ex7" class="list-group-item list-group-item-action">Exercício 7</a>
    <a href="http://localhost:3000/ex8" class="list-group-item list-group-item-action">Exercício 8</a>
    <a href="http://localhost:3000/ex9" class="list-group-item list-group-item-action">Exercício 9</a>
    <a href="http://localhost:3000/ex10" class="list-group-item list-group-item-action">Exercício 10</a>
    <a href="http://localhost:3000/ex11" class="list-group-item list-group-item-action">Exercício 11</a>
    <a href="http://localhost:3000/ex12" class="list-group-item list-group-item-action">Exercício 12</a>
    <a href="http://localhost:3000/ex13" class="list-group-item list-group-item-action">Exercício 13</a>
    <a href="http://localhost:3000/ex14" class="list-group-item list-group-item-action">Exercício 14</a>
    <a href="http://localhost:3000/ex15" class="list-group-item list-group-item-action">Exercício 15</a>
</div>